<div>

    <h1 class="title">Lista de productos (En tiempo real)</h1>
    <table class="product-list">
        <tr>
            <th>Título</th>
            <th>Descripcion</th>
            <th>Precio</th>
            <th>Miniatura</th>
        </tr>

        <tbody id="products-table-body">

        </tbody>

    </table>
</div>

<style>
    table,
    th,
    td {
        border: 1px solid;
    }

    .title {
        text-align: center;
    }

    .product-list {
        width: 100%;
    }
</style>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/products.js"></script>